.containerCreate,
.containerUpdate {
  /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), */
  /* url("https://images.unsplash.com/photo-1586281380117-5a60ae2050cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1
    470&q=80"); */
  background-image: url("../../../assets/work.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-form {
  /* border-radius: 5px; */
  width: 50%;
  /* background-color: white; */
  box-shadow: 3px 5px 6px 5px rgb(136, 176, 214);
}

.containerLogin,
.containerRegister {
  flex-direction: column;
}

.container-form-login,
.container-form-register {
  width: 30%;
  /* background-color: white; */
}

.login-btn,
.register-btn {
  border-radius: 0 !important;
}

Form {
  padding: 5%;
  border-radius: 0 !important;
}

.navigation {
  margin-top: 1%;
  top: 0;
  right: 0;
  position: absolute;
  font-size: large;
}

.spinner {
  width: 1rem !important;
  height: 1rem !important;
  margin: 0 12px;
}

@media only screen and (max-width: 890px) {
  .container-form {
    width: 90%;
  }

  .container-form-login,
  .container-form-register {
    width: 90%;
  }
}
